<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" id="forBigScreen">
    <div class="container-fluid">
        <div class="row">
            
                <div class="homepage-hero-module">
                    <div class="video-container">
                        <div class="title-container">
                            <div class="headline">
                                <div class="site-heading" style="padding: 0px;">
                                    <h1><%- config.title %></h1>
                                    <hr class="small">
                                    <span class="subheading"><%- config.subtitle %></span>
                                </div>
                            </div>
                        </div>
                        <div class="filter"></div>
                        <video autoplay loop class="fillWidth">
                            <source src="MP4/Productive-Morning.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                        </video>
                        <!-- Image fallback if video is not supported by browser -->
                        <div class="poster hidden" style="display: none">
                            <img src="PATH_TO_JPEG" alt="">
                        </div>
                        <div style="position: absolute; bottom: 20px; left: 50%; margin-left: -19px;">
                            <a class="coverr-nav-item" href="#content" style="text-decoration: none;">
                                <h1 class="text-white" style="font-size: 80px; color: white;">
                                    <i class="fa fa-angle-down"></i>
                                </h1>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</header>

<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')" id="forSmallScreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- config.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%- config.subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container" id="content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% page.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>


